<html>
<head>
    <meta charset="utf-8">
    <title>Водоёмы России</title>
</head>

<body bgcolor="#dbf0ff">
<H2><font face="Montserrat">Водоёмы</font></H2>
    {% for water in waters %}
        <font face="Montserrat">
        <A href = " waters/{{ water['id'] }}" >
            {{ water['name'] }} ({{ water['type']}}),</A>    {{ water['size'] }}    {% if water['type'] == 'река' %}
                                                                                        {{ 'м' }}
                                                                                    {% else %}
                                                                                        {{'м^2'}}
                                                                                    {% endif %}
        <br>
        </font>
    {% endfor %}

    <P>
        Отсортировать по:
            <A href = "/waters/sorted_by=type"> Тип|</A>
            <A href = "/waters/sorted_by=size">Размер/Длина|</A>
            <A href = "/waters/sorted_by=name">Название</A>

    </P>

    <P>
    <A href = "/waters/add">
        Добавить водоём
    </A><br>
    <A href = "/waters/add_subject">
        Добавить регион для водоёма
    </A><br>
    <A href = "/waters/remove">
        Удалить водоём
    </A>

    <P>
    <A href = "/">
        Главная
    </A>
</body>

</html>